<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h1>Welcome to<i class="fas fa-book"></i><strong>Bookers!!</strong></h1><br />
      <p>
        In <i class="fas fa-book"></i><strong>Bookers</strong>,<br />
        you can share and exchange your opinions,inpressions,and emotions<br />
        about various books!<br />
      </p>

      <button type="button" class="btn btn-primary btn-lg btn-block">
        <%= link_to "Log in", new_user_session_path, class:"text-white" %>
      </button><br />
      <button type="button" class="btn btn-success btn-lg btn-block">
        <%= link_to "Sign up", new_user_registration_path, class:"text-white" %>
      </button>
    </div>
  </div>
</div>
